<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header}}
        <p>Project page text goes here</p>
    </body>

    {{> footer}}
</html>
